body{
    /* background-image: url('../Images/10068.png');
    background-size: cover; */
    margin: 0;
    margin-top: 50px;
    font-family: Helvetica;

}
.foto1{
    width: 70px;
    border-radius: 10%;
    float: left;
}
header{
display: flex;
position: fixed;
top: 0;
left: 0;
right:0;
height: 75px;
line-height: 50px;
margin: 15px;
background-color: rgba(255, 255, 255, 0.776);
border-radius: 10px;
}
header *{
    display: inline;

}
header ul{
    padding: 0;
    list-style-type: none;
}
header li{
    margin-left: 20px;
}
header a{
    list-style-type: none;
    background-color: #F36D30;
    border-radius: 2px;
    margin-left: 20px;
    display: inline;
    text-decoration: none;
    color: #D3DF41;
    padding: 5px;
}
section{
    height: 80vh;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: grey;
}
.profile-img{
    width: 100px;
    border-radius: 50%;
}

#home .profile-img{
    width: 150px;
    border-radius: 50%;
}

#home h1{
    font-size: 3em;
}

#about .profile-img{
    width: 100px;
    border-radius: 50%;}

#about ul{

}

section ul li{
    text-align: left;
}

section h2{
    font-size: 2.5em;
}

section h3{
    font-size: 1.5em;
}

#Contact a{
    text-decoration: none;
}
footer{
    text-align: center;
    padding: 20px;
}
#home{
     background-image:  url(../Images/bg2-01.png);
    }
#about{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.762)) , url(../Images/AB-01.png);

}
#contact{
    background-image: url(../Images/171.jpg);
  
}

header a:hover{
    list-style-type: none;
    background-color: #D3DF41;
    border-radius: 2px;
    margin-left: 20px;
    display: inline;
    text-decoration: none;
    color: #F36D30;
    padding: 5px;
}

.foto1:hover{
    width: 75px;
    border-radius: 10%;
    float: left;